/result
/build
/.idea
/.pytest_cache
/log
*.md
/debug
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
AUTHORS
*Log
.DS_Store
Pip*
__pycache__/
/data/debug/*.json
/data/debug
/data/config.ini
*pytest_cache/
/test
test/
conftest.py
pytest.ini
report.html